@{
    ViewData["Title"] = "Home Page";

}
@using Stone.ServiceContract;
@model IEnumerable<string>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env
@using System.Runtime.InteropServices


@inject ICitiesService citiesService
@{
    var cityList = citiesService.GetCities();
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <environment include="Development">
    <p style="color:green;">This is the Development environment.</p>
</environment>
    <environment include="Staging">
        <p style="color:green;">This is the Staging environment.</p>
    </environment>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>Current Environment: <strong>@Env.EnvironmentName</strong></h3>
    <h3>ContentRootPath: @Env.ContentRootPath</h3>
    <h3>Current OS: @RuntimeInformation.OSDescription</h3>
    <h3>Service1: @ViewBag._citiesService1_InstanceID</h3>
    <h3>Service2: @ViewBag._citiesService2_InstanceID</h3>
    <h3>Service3: @ViewBag._citiesService3_InstanceID</h3>
    <h3>Service4 InScope: @ViewBag._citiesService4_InstanceID</h3>
    <h3>Service5 : @citiesService.ServiceInstanceID</h3>
    <ul>
        @foreach (string city in cityList)
    {
        <li>@city</li>
    }
    </ul>

</div>
